
@{
    ViewBag.Title = "List";
}


<h2>List of persons</h2>

<table class="table table-bordered">
    <tr>
        <td>Name</td>
        <td>Id</td>
        <td>DOB</td>
    </tr>
    <tr>
        <td>Fahad</td>
        <td>18-37904-2</td>
        <td>31-1-1997</td>
    </tr>
    <tr>
        <td>Ridowan</td>
        <td>18-37912-2</td>
        <td>19-6-1999</td>
    </tr>
    <tr>
        <td>Tahir</td>
        <td>18-37923-2</td>
        <td>21-2-2000</td>
    </tr>
</table>

